/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/* Header/Logo Title */
.header {
  overflow-x:hidden;
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 400px;
}